body{
  background: url(nathan-anderson-218687.jpg);
  padding-top: 70px;
  font-family: 'Cairo', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}
html{
  height: 100%;
}
.jumbotron {
  background:  rgba(0,0,0,0);
}

.jumbotron h1 {
  color:#4abfec;
  text-align: center;
}
.sel {
    background-color: rgba(0,0,0,0);
    color:#4abfec;


}
option {
    text-align:center;
}
 #btn{
   text-align: center;
   color:#4abfec;
   background: rgba(0,0,0,0);
   width: 100%;
   margin-top: 7%;
   /*margin-left: 40%;*/
 }
#head {
  color:#4aec5f;
  text-align: center;
    font-size: 30px;
}
@media only screen and (max-width: 600px) {
  #head {
    color:#4aec5f;
    text-align: center;
      font-size: 21px;
  }
}
#res1,#res2,#res3,#res4{
  text-align: center;

}
strong {
  font-family: 'Raleway', sans-serif;
    text-align: center;
  color: #4aec5f;
  font-size: 220%;

}
@media only screen and (max-width: 360px) {
  strong {
    font-family: 'Raleway', sans-serif;
      text-align: center;
    color: #4aec5f;
    font-size:150%;

  }
  #head {
    color:#4aec5f;
    text-align: center;
      font-size: 17px;
  }
}
